<div class="container">
  <div class="bio">
    <p>Casey is a web developer currently working at the Harvard Law School <a href="https://lil.law.harvard.edu/">Library Innovation Lab</a>. She's the sole developer on <a href="https://opencasebook.org">H2O</a>, a platform that enables law professors to circumvent mainstream publishers by independently publishing their own casebooks, significantly reducing the end price that students pay. </p>
    <p>Since March 2018 she's been independently working on a research project about Guns in America called <a href="http://ahousedivided.us/">A House Divided</a>. She seeks to show how much in common people have in common from opposing ideologies, with the hope that it'll foster productive communication for change. </p>
    <p>
    <p></p>
  </div>
</div>