<h1 class="full-name">Casey Gruppioni</h1>

<div class="container">
  <div class="bio">
    <p>Casey is a web developer working at the Harvard Law School <a href="https://lil.law.harvard.edu/">Library Innovation Lab</a>. She's the sole develpoer <a href="https://opencasebook.org">H2O</a>, a platflorm that enables law professors to easily publish their own casebooks and give it to their students for free. </p>
    <p>In her free time she's working on a research project about Guns in America called <a href="http://ahousedivided.us/">A House Divided</a> [website pending]. The Feburary 2017 Parkland School Shooting sparked outrage in her that American children are afraid to go to school, especially as an Aunt to two nieces.</p>
    <p>Guns are a uniquiely American problem, and also a perfect example of the diviseness in this country.</p>
    <p>Casey is currently working on a film project to show how much in common gun owners and gun control advocates actually have, hoping that this can lead to more productive conversations.</p>
  </div>
</div>