<h1 class="full-name">Casey Gruppioni</h1>

<hr>

<%= image_tag("toronto-window.jpeg", alt: "Sitting in front of a window in Toronto", class: 'toronto-window') %>

<%= link_to 'About', page_path('about') %>
