<h1 class="full-name">Casey Gruppioni</h1>

<hr>
<div class="navbar">
  <%= link_to 'About', page_path('about') %>
</div>
<hr>
<%= image_tag "toronto-window-2.jpeg", alt: "Sitting in front of a window in Toronto", class: 'img-fluid' %>