
body {
  background-color: $main-color;
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
}

.header {
  padding: 20px 0;
  background-image: $background-image;
  background-size: 100%;
  border-style: solid;
  border-width: 0 0 5px 0;

  h1.full-name {
    text-align: center;
    text-decoration: none;
    font-family: $main-font-family;
    font-size: 63px;
    font-weight: bold;
    text-shadow: 2px 2px black;

    a:link, a:visited, a:hover, a:active {
      color: white;
      text-decoration: none;
    }
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;

    a:link, a:visited, a:hover, a:active{
      font-family: $open-sans;
      color: white;
      text-shadow: 2px 2px grey;
    }

    .link {
      padding-right: 15px;
    }
  }
}

hr {
  border-width: 3px;
}

.container {
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $open-sans;
  font-weight: 500;

  a {
    color: $link-color;
  }

  p {
    text-indent: 23px;
  }

  @include media-breakpoint-up(lg) {
    .bio {
      flex: 0 1 75%;
      min-height: 100px;
      max-width: 75%;
      padding: 0px 30px;
    }
  }
}

