$pacifico: 'Pacifico', cursive;
$satisy: 'Satisfy', cursive;
$bad-script: 'Bad Script', cursive;
$open-sans: 'Open Sans', sans-serif;
$oswald: 'Oswald', sans-serif;

$main-color: #85144B;
$main-font-family: $bad-script;

$main-background-image: url(google-earth-view-1027.jpg);